body {
  background: blanchedalmond;
}
* {
    border: 1px solid rgb(255, 0, 0);
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.a {
  flex-grow: 1;
  margin: 1em;
}

.b {
  min-height: 60vh;
  flex-grow: 4;
  margin: 1em;
}

.c {
    flex-grow: 1;
    margin: 1em;
}


@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .b {
    max-width: 80%;
  }
  .a {
    width: 100%;
  }
}  